Source: ros-hydro-bwi-planning-icaps14
Section: misc
Priority: extra
Maintainer: Piyush Khandelwal <piyushk@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), ros-hydro-catkin
Homepage: http://wiki.ros.org/bwi_planning
Standards-Version: 3.9.2

Package: ros-hydro-bwi-planning-icaps14
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-bwi-planning, ros-hydro-segbot-gazebo, ros-hydro-segbot-gui, ros-hydro-segbot-logical-translator, ros-hydro-segbot-navigation, ros-hydro-segbot-simulation-apps, ros-hydro-utexas-gdc
Description: ASP based planning presented at ICAPS 2014
